SegundoFlow.json
[{"id":"451c0224.9af904","type":"tab","label":"Segundo Flow","disabled":false,"info":""},{"id":"6f74433d.c1228c","type":"inject","z":"451c0224.9af904","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":200,"wires":[["f3b26ba5.f546f8"]]},{"id":"375a40c0.5d0f","type":"debug","z":"451c0224.9af904","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":280,"wires":[]},{"id":"f3b26ba5.f546f8","type":"function","z":"451c0224.9af904","name":"Convertir Fecha","func":"// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":200,"wires":[["375a40c0.5d0f","de7034a7.bea1d"]]},{"id":"de7034a7.bea1d","type":"ui_text","z":"451c0224.9af904","group":"42259ceb.613914","order":0,"width":0,"height":0,"name":"","label":"La hora es","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":220,"wires":[]},{"id":"42259ceb.613914","type":"ui_group","name":"Hora","tab":"6c6a7c93.9d88d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6c6a7c93.9d88d4","type":"ui_tab","name":"Hora","icon":"dashboard","order":1,"disabled":false,"hidden":false}]