Temperatura.json
[{"id":"8f6bda19.41eca","type":"tab","label":"Temperatura","disabled":false,"info":""},{"id":"6d14b16.fa682d","type":"inject","z":"8f6bda19.41eca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":200,"wires":[[]]},{"id":"f8d34816.f4df88","type":"ui_text_input","z":"8f6bda19.41eca","name":"","label":"Temperatura CD ","tooltip":"","group":"8aa3d9b0.825c4","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":700,"y":100,"wires":[[]]},{"id":"775a17d8.d6e1e","type":"ui_text_input","z":"8f6bda19.41eca","name":"","label":"Nombre","tooltip":"","group":"8aa3d9b0.825c4","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":680,"y":220,"wires":[[]]},{"id":"39856c4f.06495c","type":"ui_switch","z":"8f6bda19.41eca","name":"","label":"switch","tooltip":"","group":"d80f59b6.b2c3b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":670,"y":160,"wires":[[]]},{"id":"32771cc2.123974","type":"ui_gauge","z":"8f6bda19.41eca","name":"","group":"d80f59b6.b2c3b","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"C - units","format":"{{value}}","min":"15","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":280,"wires":[]},{"id":"7aeb6f87.4550c8","type":"ui_chart","z":"8f6bda19.41eca","name":"","group":"e20b6fdc.760628","order":0,"width":0,"height":0,"label":"Temperatura de México","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"15","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":340,"wires":[[]]},{"id":"8aa3d9b0.825c4","type":"ui_group","name":"Identification - Label","tab":"90b2606c.b985e","order":1,"disp":true,"width":"6","collapse":false},{"id":"d80f59b6.b2c3b","type":"ui_group","name":"Control - Label","tab":"90b2606c.b985e","order":3,"disp":true,"width":"6","collapse":false},{"id":"e20b6fdc.760628","type":"ui_group","name":"Historial - Label","tab":"90b2606c.b985e","order":2,"disp":true,"width":"6","collapse":false},{"id":"90b2606c.b985e","type":"ui_tab","name":"Temperatura","icon":"dashboard","order":3,"disabled":false,"hidden":false}]